/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: black ;
}

.header-bg-dark{
  background: rgb(11,3,28);
  background: linear-gradient(223deg, rgba(11,3,28,1) 0%, rgba(46,22,97,1) 55%, rgba(11,3,28,1) 100%);
}

.githubIcon {
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22%23fff%22%20opacity%3D%220%22%20transform%3D%22matrix(-1%200%200%20-1%2024%2024)%22%2F%3E%3Cpath%20d%3D%22m12%201a10.89%2010.89%200%200%200%20-11%2010.77%2010.79%2010.79%200%200%200%207.52%2010.23c.55.1.75-.23.75-.52s0-.93%200-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86%202.86%200%200%200%20-1.22-1.58c-1-.66.08-.65.08-.65a2.31%202.31%200%200%201%201.68%201.11%202.37%202.37%200%200%200%203.2.89%202.33%202.33%200%200%201%20.7-1.44c-2.44-.27-5-1.19-5-5.32a4.15%204.15%200%200%201%201.11-2.91%203.78%203.78%200%200%201%20.11-2.84s.93-.29%203%201.1a10.68%2010.68%200%200%201%205.5%200c2.1-1.39%203-1.1%203-1.1a3.78%203.78%200%200%201%20.11%202.84%204.15%204.15%200%200%201%201.17%202.89c0%204.14-2.58%205.05-5%205.32a2.5%202.5%200%200%201%20.75%202v2.95s.2.63.75.52a10.8%2010.8%200%200%200%207.5-10.22%2010.89%2010.89%200%200%200%20-11-10.77%22%20fill%3D%22%23231f20%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
}